{% extends "base.html" %} {% block title %} Sky Cinema | Home {% endblock %} {%
block content_main %}

<h2>What Christmas character are you?</h2>

<div class="container">
    <br>
    <form action="" method="POST">
        <p>Do you leave milk and cookies for santa?</p>
        <input type="radio" id="Yes1" name="Question1" value="{{
          request.form.A }}">
        <label for="Yes1">Yes</label><br>
        <input type="radio" id="No1" name="Question1" value="{{
          request.form.B }}">
        <label for="No1">No</label><br>
        <input type="radio" id="Eat1" name="Question1" value="{{
          request.form.C }}">
        <label for="Eat1">I eat them myself!</label><br>
        <input type="submit" value="Submit">
    </form>
    <br><hr><br>
    <form action="" method="POST">
        <p>Will santa come down your chimney?</p>
        <input type="radio" id="Yes2" name="Question2" value="{{
          request.form.A }}">
        <label for="Yes2">Yes</label><br>
        <input type="radio" id="No2" name="Question2" value="{{
          request.form.B }}">
        <label for="No2">No</label><br>
        <input type="radio" id="trap2" name="Question2" value="{{
          request.form.C }}">
        <label for="trap2">I've set a trap at the bottom of my chimney</label><br>
        <input type="submit" value="Submit">
    </form>
    <br><hr><br>
    <form action="" method="POST">
        <p>Is giving presents more important than receiving presents?</p>
        <input type="radio" id="No3" name="Question3" value="{{
          request.form.A }}">
        <label for="No3">No</label><br>
        <input type="radio" id="Yes3" name="Question3" value="{{
          request.form.B }}">
        <label for="Yes3">Yes</label><br>
        <input type="radio" id="Gimme3" name="Question3" value="{{
          request.form.C }}">
        <label for="Gimme3">I'll take your presents as well!</label><br>
        <input type="submit" value="Submit">
    </form>
    <br><hr><br>
</div>

<div>
    <p>{{show}}</p>
    <ul>    </ul>
</div>

{% endblock %}
