{% extends "base.html" %} {% block title %} Sky Cinema | Home {% endblock %} {%
block content_main %}

<div class="row row-cols-1 row-cols-md-3">
  <div class="col d-flex align-items-stretch" id="moviecontainerspacing">
    <div class="card bg-transparent border border-white">
      <h3 class="card-title">{{ movietitle [0]}}</h3>
      <img
        src="https://images.store.sky.com/api/img/asset/en/66D8BB8A-E4E8-4422-9242-603110084545_38C4B9BE-D359-49A8-B16E-ACA7EDC2843C_2022-6-16-T9-49-18.jpg?s=260x371"
        class="img-fluid mx-auto"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">
        {{ moviesynopsis [0]}}
        </p>
      </div>
    </div>
  </div>
  <div class="col d-flex align-items-stretch" id="moviecontainerspacing">
    <div class="card bg-transparent border border-white">
      <h3 class="card-title">{{ movietitle [1]}}</h3>
      <img
        src="https://images.store.sky.com/api/img/asset/en/66D8BB8A-E4E8-4422-9242-603110084545_91E9473B-1530-47E1-9A63-33AC42A4BDFF_2022-8-28-T11-48-55.jpg?s=260x371"
        class="img-fluid, mx-auto"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">
        {{ moviesynopsis [1]}}
        </p>
      </div>
    </div>
  </div>
  <div class="col d-flex align-items-stretch" id="moviecontainerspacing">
    <div class="card bg-transparent border border-white">
      <h3 class="card-title">{{ movietitle [2]}}</h3>
      <img
        src="https://images.store.sky.com/api/img/asset/en/66D8BB8A-E4E8-4422-9242-603110084545_BFBACF28-99C8-4772-8F2D-554AD13C8D01_2022-7-14-T12-6-8.jpg?s=260x371"
        class="img-fluid, mx-auto"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">{{ moviesynopsis [2]}}
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
