
{% extends "base.html" %}  {%
block pageheading %}{{title}}{% endblock %} {%block content_main %}

<br>
<container id="contactform" class="center">
<form action="" method="post">
    <div class="row">
        <div class="auto">
            <label class="form-label">Username:</label>
            <input type="text" class="form-control" value="{{
                request.form.username }}" placeholder="Enter username" name="username">
        </div>
    </div>
    <div class="row">
        <div class="auto">
            <label class="form-label">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" value="{{
              request.form.password }}" name="password">
        </div>
    </div>

    <br>
    <div class="auto">
        <button type="submit" class="btn btn-primary mb-3" value="Login">Login</button>
    </div>
</form>
<hr>
<div class="center">
    <p>Don't have an account? </p><a href="{{ url_for('views.register') }}">Click here to register!</a>
</div>

{% if error %}

        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

</form>
</container>

{% endblock %}

