
{% extends "base.html" %} {% block title %} Sky Cinema | {{title}} {% endblock %} {%
block pageheading %}{{title}}{% endblock %} {%block content_main %}

<br>
<container id="contactform">
<form action="" method="post">
<div class="col-auto">
  <label class="form-label">Username:</label>
  <input type="text" class="form-control" value="{{
          request.form.username }}" placeholder="Enter username" name="username">
</div>
<div class="col-auto">
  <label class="form-label">Password:</label>
  <input type="password" class="form-control" placeholder="Enter password" value="{{
          request.form.password }}" name="password">
</div>
    <br>
<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" value="Login">Login</button>
</div>
{% if error %}

        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

</form>
</container>

{% endblock %}

