{% extends "base.html" %}

{%block pageheading %}{{title}}{% endblock %}

{%block content_main %}

<br>
<container id="contactform" class="center">
<form action="" method="post">
    <div class="row">

        <div class="auto">
            <label class="form-label">First name:</label>
                <input type="text" class="form-control" value="{{
                    request.form.firstname }}" placeholder="Enter first name" name="firstname">
            <label class="form-label">Last name:</label>
                <input type="text" class="form-control" value="{{
                    request.form.lastname }}" placeholder="Enter last name" name="lastname">
            <label class="form-label">Email address:</label>
                <input type="text" class="form-control" value="{{
                    request.form.email }}" placeholder="Enter email" name="email">

        </div>
    </div>
    <div class="row">
        <div class="auto">
            <label class="form-label">Username:</label>
            <input type="text" class="form-control" value="{{
                request.form.username }}" placeholder="Enter username" name="username">
        </div>
    </div>
    <div class="row">
        <div class="auto">
            <label class="form-label">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" value="{{
              request.form.password }}" name="password">
            <label class="form-label">Confirm password:</label>
            <input type="password" class="form-control" placeholder="Confirm password" value="{{
              request.form.con_password }}" name="con_password">
        </div>
    </div>

    <br>
    <div class="auto">
        <button type="submit" class="btn btn-primary mb-3" value="Register">Register</button>
    </div>
</form>
<hr>
<div class="center">
    <p>Already registered? </p><a href="{{ url_for('views.login') }}">Click here to login!</a>
</div>

{% endblock %}