{% extends "base.html" %}

{%block pageheading %}Merry Christmas {{ name }}{% endblock %}



{%block content_main %}
<br>
<br>
<div style="text-align:center">
  <h1 id="Pageheader">Welcome to <strong>your</strong> Sky VIP</h1>
  <br>
</div>
<div style="text-align:center">
  <h2>Please look around the page to see your deals</h2>
</div>

<div>
  <br>
    <H3>Upcoming Sports Fixtures</H3>
    <div class="table-responsive">
    <div class="row">
        <div class="col d-flex align-items-stretch">
    <table class="table table table-bordered" style="color: white">
  <thead>
    <tr>
      <th scope="col">Sport</th>
      <th scope="col">Month</th>
      <th scope="col">Teams</th>
      <th scope="col">Leauge</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Football</th>
      <td>Jan onwards</td>
      <td>Man United,Arsenal,Man city</td>
      <td>Premier leauge,championship and playoff</td>
    </tr>
    <tr>
      <th scope="row">Sky F1</th>
      <td>Ends December</td>
      <td>Redbull,mercedes,Ferrari</td>
      <td>Final 3 races</td>
    </tr>
    <tr>
      <th scope="row">NFL</th>
      <td >All year</td>
      <td>pittsburgh steelers, miami dolphins and more</td>
        <td>Superbowl</td>
    </tr>
  </tbody>
    </table>
        </div>
    </div>
    </div>

      <div class=row>
        <div class="col-sm-4">
        </div>


        <div >
          <h3>Welcome to <strong>sky vip</strong></h3>
          <p1>These are some produts</p1>
          <ol>
            <li>SKY SPORTS</li>
            <li><strong>SKY GLASS</strong></li>
            <li>VIEW YOUR ACCOUNT</li>
            <li><strong>SKY KIDS</strong></li>
            <li>SKY STREAM</li>

          </ol>
          <p2> <b>We also have a wide range of sky mobile products please contact the customer service to dicuss.
            </b></p2>
        </div>

      </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}
